*{
    margin: 0;
    padding: 0;
    /* color: white; */
}

header{
    position: sticky;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    top:0px;
}

.navbar{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    padding-inline-start: 10px;
    font-size: 25px;
    font-weight:600;
}

#nav-a{
    color:white;
    padding-inline: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}


i{
    margin-right: 40px;
}

.pizza-container{
    background-image: url(./images/pizza.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 68px;
    width: 100%;
    height: 700px;  
}

.heading{
    width: 902px;
    height: 215px;
    left: 10px;

    font-family: Quattrocento;
    font-size: 90px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 109px;
    letter-spacing: 0.09em;
    text-align: center;
    padding-top: 50px;
    /* padding-left: 30px; */
    /* border-bottom: 8px solid#F24C4C; */
}

.border{
    width:700px;
    height: 10px;
    background-color:#F24C4C;
    margin-left: 100px;
    margin-top: 50px;
}

.wrap{
    width: 500px;
    padding-left:150px;
}

.text{
    word-break: break-all;
    word-wrap:break-word;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: 80px;
    font-weight: 400;
    font-size: 25px;  
}

.about,.menu, .carousel, .gallery, .find{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-inline: 100px;
}

/* .menu,.about,.carousel,.gallery{
} */

.about>div>h1, .menu>div>h1, .carousel>div>h1, .gallery>div>h1, .find>div>h1{
    font-size: 50px;
    border-bottom: 5px solid #F24C4C;
    padding-bottom: 10px;
    margin-bottom: 50px;   
}

.about-container, .find-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dough>img{
    height: 400px;
}

.text1{
    word-break: break-all;
    word-wrap:break-word;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 300;
    font-size: 25px;  
}

.inner{
    display: flex;
    justify-content: space-between;
}

.outer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}


.wrap1>h4{
   color: #F2C94C
}

.wrap1{
    width: 300px;
}

.wrap1>p{
    word-break: break-all;
    word-wrap:break-word;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 300;
    font-size: 18px; 
    padding-left: 10px;
}

.gallery-image img {
    width:155px;
    margin-bottom: 7px;
    margin-right: 150px;
   
}

#icon2{
   margin-left: -135px;
}

.find-container>#text1{
    /* padding-bottom: 30px; */
    margin-bottom: 30px;
}

.footer-section{
    background-color: black;
    color: white;
}

.footer-container>div>img{
   padding-left: 150px;
   margin-top:200px
}

.footer-container{
    display:flex;
    justify-content: space-between;
}

.logo-end{
    margin-top:250px;
    margin-right: 400px;
}

.logo1 ,.logo2{
    padding-bottom: 25px;
}

.logo1>p ,.logo2>p{
    padding-left: 65px;
}



/* responsive part here */

@media (max-width:900px){

    html{
        background-color: black;
        color: white;
    }

    header{
        position: relative;
    }

    .navbar,.about-container,.outer,.inner,.find-container,.footer-container{
        display: block;
    }

    .nav-mid>a{
        display: block;
    }

    .heading{
        font-size: 35px;
        text-align: left;
    }

    .border{
        display: none;
    }

    .wrap{
        width: auto;
    }
    .text{
        margin-top: -40px;
    }
    .text1{
        word-wrap: none;
        word-break: keep-all;
        text-align: initial;
    }

    .dough>img, #map>img{
        width:300px;
        height:200px;
    }


}